@import url(./fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    padding-right: 100px;
    padding-left: 100px;
}

:root {
    --white: #FFF;
    --black: #000;
    --Manrope: 'Manrope';
    --btn-color: #0040DD;
    --bg-color: #1C1C1E;
}

body {
    font-family: var(--Manrope);
    background: var(--bg-color);
}

.all-btn {
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    background-color: var(--btn-color);
    border-radius: 50px;
}

.title {
    color: var(--white);
    font-size: 55px;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
}

.header-logo {
    width: 106px;
    height: 43px;
}

.lists {
    display: flex;
    text-align: center;
    align-items: center;
}

.header-list {
    display: flex;
    column-gap: 35px;
    padding-right: 50px;
}

.header-link {
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    opacity: 0.3;
}

.second-list {
    display: flex;
    column-gap: 10px;
    border-radius: 75px;
    border: 1px solid #FFF;
    opacity: 0.6;
    padding: 6px 10px;
}

.second-list-link {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
}

.second-title{
    padding-top: 200px;
}

.Services {
    padding-top: 110px;
}

.services-cards {
    display: flex;
    padding-top: 30px;
    justify-content: center;
}

.services-card {
    border: 1px solid #FFF;
}

.serviceses-card-title {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 193px;
    padding-bottom: 132px;
    color: var(--white);
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.services-card-desc {
    padding-left: 40px;
    padding-bottom: 141px;
    max-width: 305px;
    width: 100%;
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
}

.services-card-btn {
    margin-left: 40px;
    border: 1px solid var(--white);
    background-color: var(--bg-color);
}

.footer-line {
    height: 100%;
    width: 1px;
    color: var(--white);
    padding-top: 110px;
}

.footer {
    padding-top: 110px;
    display: flex;
}

.footer-left-side {
    display: flex;
    flex-direction: column;
}

.footer-desc {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    opacity: 0.3;
}

.search-lines {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.footer-search {
    width: 363px;
    height: 40px;
    outline: none;
    border: 1px solid var(--white);
    background: var(--bg-color);
    padding-left: 16px;
    border-radius: 50px;
    opacity: 0.3;
}

.footer-btn {
    margin-top: 15px;
}

.footer-adress {
    color: #FFF;
    font-size: 14px;
    font-weight: 500;
    padding-top: 52px;
    padding-bottom: 70px;
}

.footer-right-side {
    display: flex;
    column-gap: 70px;
    padding-right: 100px;
}

.footer-item:nth-child(1) {
    opacity: 0.3;
}

.footer-link {
    max-width: 171px;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}